.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    gap: calc(var(--gap)*2);

}

.cartItemsContainer {
    display: grid;
    justify-items: center;
    width: 100%;
    gap: var(--gap);
}

.cart h1 {
    font-size: 22px;
    font-weight: bold;
}