.displayContent {
    width: 100%;
    height: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.hero h1 {
    font-size: var(--font-size-text-h1);
    text-align: center;
}

.hero p {
    font-size: var(--font-size-text-m);
    text-align: center;
}

.whyChooseUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);
}


.featuredProducts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap);
}



.titleWrapper {
    display: flex;
    justify-content: flex-start;
    width: 65%;
}

.features,
.itemWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap);
    width: 65%;
}




.featureItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    background-color: #F9FAFB;
    box-shadow: var(--box-shadow);
    gap: 10px;
    padding: 4vh;
}

.featureItem h3 {
    font-size: var(--font-size-text-m);
    color: #2563EB;
}

.featureItem p {
    text-align: center;

}

.ctaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
}

.ctaSection h2 {
    font-size: 2rem;
    text-align: center;
}

.ctaSection button {
    width: 180px;
}

@media (max-width:600px) {
    :root {
        --font-size-text-h1: 2.3rem
    }

    html {
        font-size: 13px;
    }

    .titleWrapper,
    .features,
    .itemWrapper {
        width: 90%;
    }

}