.featuredItem,
.shopItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    background-color: white;
    gap: calc(var(--gap) - 2px);
}

.shopItem {
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shopItem:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


.featuredItem h3,
.shopItem h3 {
    font-size: var(--font-size-text-s);
}

.featuredItem p,
.shopItem p {
    color: #2563EB;
}

.shopItem input {
    width: 30%;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

.shopItem button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.quantitySelector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quantitySelector button {
    width: 30px;
    height: 30px;
    background-color: #E0E0E0;
    color: black;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
}

.quantitySelector button:hover {
    background-color: #d5d5d5;
    opacity: 1;
}

.quantitySelector button:active {
    background-color: #c0c0c0;
    transform: scale(0.95);
}

/* cartItem */


.cartItem {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    gap: 4vw;
    width: 55%;
}

.infoWrapper {
    display: flex;
    align-items: center;
    gap: 10px;

}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.productInfo h2 {
    font-size: 18px;
}



.itemControls,
.itemControls div {
    display: flex;
    align-items: center;
    gap: 7px;
}

.itemControls img:hover {
    background-color: #A63F50;
}

.itemControls img:active {
    background-color: #8F3544;
}

.itemControls button {
    width: 30px;
    height: 30px;
    background-color: #E0E0E0;
    color: black;
    border-radius: 5px;
    opacity: 80%;
    cursor: pointer;
}

.itemControls button:hover {
    background-color: #d5d5d5;
    opacity: 1;
}

.itemControls button:active {
    background-color: #c0c0c0;
    transform: scale(0.95);
}

@media (max-width:600px) {
    .cartItem {
        width: 90%;

    }

    .cartItem button {
        width: 23px;
        height: 23px;
    }

    .productInfo h2 {
        font-size: 13px;
    }

    .itemControls img {
        width: 30px;
        height: 30px;
    }

    .infoWrapper img {
        width: 40px;
        height: 40px;
    }
}